<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="aboutModalLabel">Outline</h4>
</div>

<div class="modal-body">
    version v1 Bootstrap é um framework front-end que facilita a vida dos desenvolvedores web a criar sites com tecnologia mobile
    (responsivo) sem ter que digitar uma linha de CSS para “fazer e acontecer”. Não é a toa que o termo “Bootstrap” em inglês
    significa “inicialização”, algo que possui um ponto de partida.. Além disso, o Bootstrap possui uma diversidade de componentes
    (plugins) em JavaScript (jQuery) que auxiliam o designer a implementar: tootlip, menu-dropdown, modal, carousel, slideshow,
    entre outros sem a menor dificuldade, apenas acrescentando algumas configurações no código, sem a necessidade de criar
    scripts e mais scripts.
</div>
<div class="modal-footer"></div>

<!-- Fim Modal About-->